<!DOCTYPE HTML>
<html>
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div ng-app="app" ng-controller="AppCtrl">
      <div class="sortFilter">
        <div>
          <h2>Filter</h2>
          <select name="filter" ng-model="filterSelect">
            <option disabled selected value> -- select an option -- </option>
            <option value="0"> Greater than $0 </option>
            <option value="2000"> Greater than $20 </option>
          </select>
        </div>
        <div>
          <h2>Sort</h2>
          <select name="sort" ng-model="sortSelect">
            <option disabled selected value> -- select an option -- </option>
            <option value="name">Name</option>
            <option value="maxPrice">Price</option>
            <option value="createdAt">Date</option>
          </select>
        </div>
      </div>
      <div class="content">
        <div class="item" ng-repeat="item in content | filter: priceFilter(filterSelect) | orderBy: sortSelect">
          <div class="contentInfo">
            <h2>{{item.name}}</h2>
            <p>${{item.maxPrice / 100}}</p>
          </div>
          <img ng-src="https:{{item.mainImage.ref}}"/>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>